API_BIND_ADDRESS=127.0.0.1
API_PORT=8080

MYSQL_DATABASE=prospera
MYSQL_USER=prospera
MYSQL_PASSWORD=change-this-database-password
MYSQL_ROOT_PASSWORD=change-this-root-password

JWT_SECRET=change-this-long-random-secret
JWT_EXPIRATION_HOURS=720
CORS_ALLOWED_ORIGIN_PATTERNS=https://appprospera.com.br,https://www.appprospera.com.br,https://api.appprospera.com.br
FORWARD_HEADERS_STRATEGY=native

AUTH_RATE_LIMIT_ENABLED=true
AUTH_RATE_LIMIT_CACHE_MAX_ENTRIES=100000
AUTH_LOGIN_IP_CAPACITY=30
AUTH_LOGIN_IP_PERIOD=PT15M
AUTH_LOGIN_EMAIL_CAPACITY=5
AUTH_LOGIN_EMAIL_PERIOD=PT15M
AUTH_REGISTER_IP_CAPACITY=5
AUTH_REGISTER_IP_PERIOD=PT1H
AUTH_REGISTER_EMAIL_CAPACITY=3
AUTH_REGISTER_EMAIL_PERIOD=P1D

PUSH_VAPID_PUBLIC_KEY=change-this-vapid-public-key
PUSH_VAPID_PRIVATE_KEY=change-this-vapid-private-key
PUSH_VAPID_SUBJECT=mailto:admin@appprospera.com.br
NOTIFICATIONS_DIGEST_CRON=0 0 9 * * *
NOTIFICATIONS_CLEANUP_CRON=0 30 3 * * SUN
NOTIFICATIONS_RETENTION_DAYS=90
